fastapi==0.115.11
starlette==0.46.1
uvicorn==0.34.0
pydantic==2.10.6
pydantic_core==2.27.2
annotated-types==0.7.0
typing_extensions==4.12.2

pymongo==4.11.2
dnspython==2.7.0

pyspark==3.5.5
pandas==2.2.3
numpy==2.0.2

python-dateutil==2.9.0.post0
pytz==2025.1
tzdata==2025.1

minio